<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <title>{% block Title %}Личный кабинет{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header class="bg-dark">
    <div class="line">
        <span class="brand">СерыйБАНК</span>
        <span class="info_people">
                <img src="{% static "media/hotpng.com.png" %}" alt="icon_people">
                <span class="client_name">{{ user.get_full_name }}</span>
                <a class="exit_button" href="{% url 'exit_a'%}">Выход</a>
            </span>
    </div>
</header>
    <div class="main">
            <span class="info_bank">
              «СерыйБАНК» - общевселенский государственный финансовый конгломерат,
                крупнейший транснациональный и универсальный банк Российской Федерации.
                Мы — партнёр для активных людей и компаний.
                Мы создаём уверенность в успехе и каждый день делаем их жизнь лучше
                Клиентам предлагаются срочные вклады на различные сроки (всего их &&) со ставками до &&%.
                Среди разных видов программ такие популярные вклады, как Выгодный, Время роста,
                Время роста онлайн
                Число программ по потребительским кредитам составило && (ставки по процентам: от &&%).
                Максимальной популярностью пользуются следующие предложения: Наличными,
                Рефинансирование (для неработающих пенсионеров),
                Рефинансирование (для военных неработающих пенсионеров).
            </span>
        <span class="lk_info">
                «СерыйБАНК» - общевселенский государственный финансовый конгломерат,
                крупнейший транснациональный и универсальный банк Российской Федерации.
                Мы — партнёр для активных людей и компаний.
                Мы создаём уверенность в успехе и каждый день делаем их жизнь лучше
                Клиентам предлагаются срочные вклады на различные сроки (всего их &&) со ставками до &&%.
                Среди разных видов программ такие популярные вклады, как Выгодный, Время роста,
                Время роста онлайн
                Число программ по потребительским кредитам составило && (ставки по процентам: от &&%).
                Максимальной популярностью пользуются следующие предложения: Наличными,
                Рефинансирование (для неработающих пенсионеров),
                Рефинансирование (для военных неработающих пенсионеров).
                {% block content %}

                {% endblock %}
        </span>

        <span class="graphics">
                <div class="currency">Динамика курса доллара США к рублю за квартал</div>
                <canvas id="usd_graph" width="405px" height="150px"></canvas>
                <div class="currency">Динамика курса евро к рублю за квартал</div>
                <canvas id="eur_graph" width="405px" height="150px"></canvas>
        </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    <script>
        USD_graph(["15-02", "25-02", "06-03", "16-03", "26-03", "05-04", "15-04", "25-04", "05-05"]);
        EUR_graph(["15-02", "25-02", "06-03", "16-03", "26-03", "05-04", "15-04", "25-04", "05-05"]);
        USD_fill([63.1742, 62.7977, 63.472, 63.472, 63.472, 63.7708, 63.949, 63.047, 63.6016, 63.4536,
            63.4536, 63.4536, 63.3085, 63.7698, 63.6873, 63.7413, 64.3008, 64.3008, 64.3008, 64.3008,
            64.9213, 65.5177, 65.6097, 66.9909, 66.9909, 66.9909, 66.3274, 66.4437, 66.0784, 66.1854,
            67.5175, 67.5175, 67.5175, 67.5175, 72.0208, 71.472, 74.0274, 73.1882, 73.1882, 73.1882,
            74.1262, 73.8896, 77.2131, 80.157, 78.0443, 78.0443, 78.0443, 80.8815, 78.8493, 77.7928,
            78.7223, 77.7325, 77.7325, 77.7325, 77.7325, 77.7325, 77.7325, 77.7325, 77.7325, 77.7325,
            77.7325, 76.4074, 75.455, 75.7499, 74.605, 73.7515, 73.7515, 73.7515, 73.5245, 73.315,
            73.7145, 74.7119, 73.9441, 73.9441, 73.9441, 74.6657, 76.2562, 77.0416, 75.129, 74.7163,
            74.7163, 74.7163, 74.496, 74.5706, 73.6894, 72.7263, 72.7263, 72.7263, 72.7263, 72.7263]);
        EUR_fill([69.7443, 69.0837, 69.6288, 69.6288, 69.6288, 69.8226, 69.7684, 68.7843, 69.1795,
            68.771, 68.771, 68.771, 68.6201, 69.0882, 68.7823, 68.7705, 69.4191, 69.4191, 69.4191,
            69.4191, 70.4591, 71.2439, 71.6458, 73.7235, 73.7235, 73.7235, 73.4178, 73.9385, 73.7369,
            73.6842, 75.8424, 75.8424, 75.8424, 75.8424, 81.8588, 81.0207, 83.6584, 81.861, 81.861,
            81.861, 82.7471, 82.3056, 84.8881, 87.2669, 84.1552, 84.1552, 84.1552, 86.705, 85.4253,
            84.1485, 85.9648, 85.7389, 85.7389, 85.7389, 85.7389, 85.7389, 85.7389, 85.7389, 85.7389,
            85.7389, 85.7389, 82.6346, 82.012, 82.2341, 81.0882, 80.7358, 80.7358, 80.7358, 80.5387,
            80.1186, 80.6731, 81.2791, 80.111, 80.111, 80.111, 81.1019, 82.616, 83.6826, 81.1468,
            80.2528, 80.2528, 80.2528, 80.7611, 80.7749, 80.0488, 79.1189, 79.1189, 79.1189, 79.1189,
            79.1189]);
    </script>
</body>
</html>