body {
    box-sizing: border-box;
    background: gray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


#c1 {
    border: 3px solid black;
    background:
        linear-gradient(
                    black, transparent 1px
            ),
            linear-gradient(
                    90deg,
                    black, transparent 1px
            );
    background-size: 20px 20px;
    background-position: center center;
}

#buttons {
    display: none;
    position: relative;
    margin-right: 10px;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
}

i {
    margin: 0;
    padding: 0;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
}

.right {
    position: absolute;
    right: 5px;
    top: 25px;
    float: right;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    position: absolute;
    left: 5px;
    top: 25px;
    width: 20px;
    height: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    position: absolute;
    left: 25px;
    top: 5px;
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    position: absolute;
    left: 25px;
    bottom: 5px;
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}